<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" data-framework="intercoolerjs" xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="navbar-top" class="android-header mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
          <span class="android-title mdl-layout-title">
                <a class="mdl-navigation__link mdl-typography--text-uppercase" style="color: #8bc34a !important; font-weight: bold;" href="/">
                    Social
                    <span style="position: relative; top: -5px;">
                        <i class="material-icons">people_outline</i>
                    </span>
                    Lunch
                </a>
          </span>
        <!-- Add spacer, to align navigation to the right in desktop -->
        <div class="android-header-spacer mdl-layout-spacer"></div>
        <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
                <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input" type="text" id="search-field" />
            </div>
        </div>
        <!-- Navigation -->
        <div class="android-navigation-container">
            <nav class="android-navigation mdl-navigation">
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/addevent">Add events</a>
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Tags</a>
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">About us</a>
                <a class="mdl-navigation__link mdl-typography--text-uppercase"
                   href="/login"
                   th:unless="${#httpServletRequest.remoteUser}">
                    Log in
                </a>
                <form th:action="@{/logout}" th:if="${#httpServletRequest.remoteUser}" method="post">
                    <button class="mdl-navigation__link mdl-typography--text-uppercase logout"
                            type="submit" value="Sign Out">Log out</button>
                </form>
                <a class="mdl-navigation__link mdl-typography--text-uppercase"
                   href="#"
                   th:if="${#httpServletRequest.remoteUser}"
                   th:text="${#httpServletRequest.remoteUser}">
                    Hello!
                </a>
                <a class="mdl-navigation__link mdl-typography--text-uppercase"
                   href="/registration"
                   th:unless="${#httpServletRequest.remoteUser}"
                    >
                    Sign up
                </a>
            </nav>
        </div>
        <span class="android-mobile-title mdl-layout-title">
                <a class="mdl-navigation__link mdl-typography--text-uppercase" style="color: #8bc34a !important; font-weight: bold;" href="/">
                        Social
                        <span style="position: relative; top: -5px;">
                            <i class="material-icons">people_outline</i>
                        </span>
                        Lunch
                    </a>
          </span>
    </div>
</div>

<div th:fragment="navbar-bottom" class="android-drawer mdl-layout__drawer">
        <span class="mdl-layout-title">
          <a class="mdl-navigation__link mdl-typography--text-uppercase" style="color: #ffffff !important; font-weight: bold;" href="/">
                Social
                <span style="position: relative; top: -5px;">
                    <i class="material-icons">people_outline</i>
                </span>
                Lunch
            </a>
        </span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/add-event">Events</a>
        <a class="mdl-navigation__link" href="">Tags</a>
        <a class="mdl-navigation__link" href="">About us</a>
        <a class="mdl-navigation__link" href="/login">Log in</a>
        <a class="mdl-navigation__link" href="/registration">Sign up</a>
    </nav>
</div>

</body>
</html>