<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Basic Sample</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/style.css" rel="stylesheet" />
</head>

<body>
<h2>Spring Boot Basic Sample</h2>
<form action="#" th:action="@{/addevent}" th:object="${event}" method="post">
    <p>Title: <input type="text" th:field="*{title}" /></p>
    <p>Capacity: <input type="text" th:field="*{capacity}" /></p>
    <p>Address: (you can choose from your addresses... soon)<select></select></p>
    <p>Description: <input type="text" th:field="*{description}" /></p>
    <p>Date: <input type="date" name="date"/></p>
    <p><input type="submit" value="Submit" /></p>
</form>
<p><a href="/">Home</a></p>
</body>
</html>
